.footer {
    width: 100%;

    padding-top: 80px;

    background-color: #192965;
}


.footer-container {
    max-width: 1470px;
    width: 100%;

    margin: 0 auto;
}

.footer__top-container {
    display: flex;
    flex-direction: column;
}

.footer__top-wrapper {
    display: flex;
    justify-content: space-between;

    padding-bottom: 70px;
}

.footer__link-container {
    display: flex;
    column-gap: 140px;
}

.footer__link-column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__link-title {
    color: #FFF;
    font-family: $medium;
    @include adaptiv-font(21, 20);
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
}

.footer__link-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.footer__link {
    color: #ffffff81;
    font-family: "AvenirNextCyr-Light";
    @include adaptiv-font(21, 20);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;

    transition: all 0.2s linear 0s;

    &:hover {
        transition: all 0.2s linear 0s;
        color: #fff;
    }
}

.footer__contact-container {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

.footer__contact-adress_container {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    max-width: 420px;
    width: 100%;
}

.footer__contact-adress {
    color: #ffffff81;
    text-align: right;
    font-family: $medium;
    @include adaptiv-font(18, 17);
    font-style: normal;
    font-weight: 500;
    line-height: 162%;

    transition: all 0.2s linear 0s;

    &:hover {
        transition: all 0.2s linear 0s;
        color: #fff;
    }
}

.footer__contact-tel_container {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    max-width: 420px;
}

.footer__contact-tel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 17px;

    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    @include adaptiv-font(18, 17);
    font-style: normal;
    font-weight: 400;
    line-height: 171.429%;
}

.footer__bottem-border,
.footer__bottem-border-mob {
    width: 100%;

    border: 1.333px solid #FFF;
    opacity: 0.06;
    background: #FFF;
}

.footer__bottem-border-mob {
    display: none;
}



.footer__bottom-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 0 44px 0;
}

.footer__copy-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.667%;
    text-transform: uppercase;
}

.footer__socialmedia-container {
    display: flex;
    column-gap: 30px;



}

.footer__socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;

    i {
        color: #fff;
        font-size: 20px;
    }

    width: 60px;
    height: 60px;

    border: 2px solid #ffffff23;
    border-radius: 50%;

    transition: all 0.2s linear 0s;

    &:hover {
        transition: all 0.2s linear 0s;
        border-color: #fff;
    }
}


.cm-mark-container {
    display: flex;
    justify-content: center;

    width: 100%;

    padding: 12px 0;

    background-color: #111F54;
}

.cm-mark {
    display: flex;
    align-items: center;
    column-gap: 6px;

    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.cm-mark-img {
    width: 76px;
    height: 20px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// 
// Медиазапросы
// 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media (max-width: 1510px) {
    .footer-container {
        padding: 0 20px;
    }
}

@media (max-width: 1050px) {
    .footer__top-wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .footer__contact-adress_container,
    .footer__contact-tel_container {
        align-items: center;
    }

    .footer__contact-adress {
        text-align: center;
    }
}

@media (max-width: 762px) {
    .footer {
        padding-top: 40px;
    }

    .footer__link-container {
        flex-direction: column;
        row-gap: 40px;
    }

    .footer__link-column {
        align-items: center;
    }

    .footer__bottem-border {
        display: none;
    }

    .footer__bottem-border-mob {
        display: block;
    }

    .footer__top-wrapper {
        row-gap: 30px;
        padding-bottom: 25px;
    }

    .footer__link,
    .footer__contact-adress {
        color: #fff;
        text-align: center;
    }

    .footer__bottom-container {
        flex-direction: column;
        row-gap: 35px;
    }

    .footer__copy-right {
        position: static;
        transform: translate(0, 0);
        order: 3;
    }
}