.login__container {
    display: flex;
    justify-content: center;
    margin: 70px auto 50px auto;
}

.login__container-pos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 750px;
    transition: all 0.2s linear 0s;
}





.login__title {
    margin-bottom: 30px;

    color: #1E232A;
    font-family: "AvenirNextCyr-Regular";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    text-transform: uppercase;
}




// Кнопка переключения форм
.login__btn-select-form {
    position: relative;

    margin-bottom: 60px;

    width: 545px;
    height: 65px;

    border-radius: 21px;
    background: #EFEFEF;
}

.login__btn-select_login {
    position: absolute;
    top: 0px;
    left: 41px;

    padding: 18px 60px;

    color: #1E232A;
    font-family: $medium;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    z-index: 1;

    cursor: pointer;
}

.login__btn-select_regist {
    position: absolute;
    top: 0px;
    right: 27px;

    padding: 17px 40px;

    color: #1E232A;
    font-family: $medium;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

    z-index: 1;

    cursor: pointer;
}

.login__btn-select_bgr {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 257px;
    height: 54px;

    border-radius: 21px;

    background: #FFF;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.10);

    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05) 0s;
}

.login__btn_active {
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05) 0s;
    transform: translateX(-278px);
}


.shake_btn {
    animation-name: shake;
    animation-duration: 0.4s;
    animation-delay: 0s;
}



@keyframes shake {
    from {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(10px);
    }

    30% {
        transform: translateX(-15px);
    }

    40% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(-15px);
    }

    60% {
        transform: translateX(10px);
    }

    70% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(5px);
    }

    90% {
        transform: translateX(-5px);
    }

    to {
        transform: translateX(0px);
    }
}

.shake_btn-acive {
    animation-name: shake-active;
    animation-duration: 0.4s;
    animation-delay: 0s;
}

@keyframes shake-active {
    from {
        transform: translateX(-283px);
    }

    20% {
        transform: translateX(-268px);
    }

    30% {
        transform: translateX(-293px);
    }

    40% {
        transform: translateX(-263px);
    }

    50% {
        transform: translateX(-293px);
    }

    60% {
        transform: translateX(-268px);
    }

    70% {
        transform: translateX(-288px);
    }

    80% {
        transform: translateX(-273px);
    }

    90% {
        transform: translateX(-283px);
    }

    to {
        transform: translateX(-278px);
    }
}



// Стили формы регистрации
.regist__container-form {
    position: absolute;
    top: 175px;
    left: 0px;

    display: flex;
    flex-direction: column;
    row-gap: 17px;
    width: 545px;

    transition: all 0.3s ease-out 0.1s;
    visibility: visible;
    opacity: 1;
}

.password__description {
    color: #272727;
    font-family: $regular;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 227%;
}

.regist__name-cont,
.regist__tel-cont,
.regist__email-cont,
.regist__password_1-cont,
.regist__password_2-cont {
    display: flex;
    flex-direction: column;
    color: #707070;
    font-family: "AvenirNextCyr-Regular";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;

    label {
        position: relative;
        top: 25px;
        left: 0;

        order: -1;

        transition: all 0.2s linear 0s;
    }

    input {
        color: #000;
        font-family: "AvenirNextCyr-Regular";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;

        border: none;
        outline: none;

        border-bottom: solid 1px #D8D8D8;

        &[type="text"],
        &[type="text"]::-webkit-outer-spin-button,
        &[type="text"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &[type="tel"],
        &[type="tel"]::-webkit-outer-spin-button,
        &[type="tel"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &[type="email"],
        &[type="email"]::-webkit-outer-spin-button,
        &[type="email"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &[type="password"],
        &[type="password"]::-webkit-outer-spin-button,
        &[type="password"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

}

input:focus+label,
input:valid+label,
input:not(:placeholder-shown)+label {
    transition: all 0.1s linear 0s;
    transform: translateY(-23px);
}

.regist__agreement-cont {
    margin-top: 50px;

    color: #000;
    font-family: $medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;




    label {
        font-size: 15px;
        margin-left: 20px;
        display: flex;
    }
}

.regist__btn-sub_container {
    display: flex;
    justify-content: center;
}


.regist__btn-sub-login,
.regist__btn-sub-register {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    border-radius: 12px;
    border: none;
    background: #192965;

    color: #FFF;
    font-family: $medium;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    cursor: pointer;

    transition: all 0.2s linear 0s;


    &:hover {
        transition: all 0.2s linear 0s;
        background-color: #324dad;
    }
}

.regist__btn-sub-login {
    width: 330px;
    height: 50px;
}

.regist__btn-sub-register {
    width: 330px;
    height: 50px;
}

.regist__btn-recover-pas {
    margin: 0 auto;

    color: #000;
    font-family: $medium;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    @media (max-width: 500px) {
        font-size: 20px;
    }
}

.login_dis-none {
    transition: all 0.3s ease-out 0.1s;
    visibility: hidden;
    opacity: 0;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Медиазапросы
//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media (max-width:762px) {
    .login__container {
        transform: scale(0.9);
    }

    .login__container {
        margin: 20px auto 10px auto;
    }
}

@media (max-width:560px) {
    .login__container {
        transform: scale(0.8);
    }

    .login__container {
        margin: 0px auto 10px auto;
    }

    .regist__btn-sub {
        height: 70px;
    }
}

@media (max-width:480px) {
    .login__container {
        transform: scale(0.7);
    }

    .login__container {
        margin: 0;
        margin-top: -70px;
    }

    .login__mob-container {
        height: 750px;
    }

}

@media (max-width:400px) {
    .login__container {
        transform: scale(0.65);
        margin-top: 20px;
        padding: 0 5px;
    }

    .login__container {
        margin: 0;
        margin-top: -90px;
    }

    .login__mob-container {
        height: 650px;
    }

}

@media (max-width:350px) {
    .login__container {
        transform: scale(0.58);
    }

}