.news-view {
    padding: 100px 10px;
}

.news-view__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    @include adaptiv-row-gap(40, 20);

}

@media (max-width:1260px) {
    .news-view__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width:860px) {
    .news-view__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}